@font-face {
    font-family: 'Minecraft Ten';
    src: url('fonts/MinecraftTen.woff2') format('woff2'),
        url('fonts/MinecraftTen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 7rem;
    font-family: 'Minecraft Ten';
    text-align: center;
    margin-top: 20vh;
}
@media (prefers-color-scheme: dark) {
    body {
        background: #1e1e1e;
        color: #fff;
    }
}