@font-face {
  font-family: "Minecraft Ten";
  src: url("fonts/MinecraftTen.woff2") format("woff2"),
    url("fonts/MinecraftTen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 350%;
  font-family: "Minecraft Ten";
  text-align: center;
  margin-top: 20vh;

  padding: 0 3rem;
}

.pls {
  font-size: 4rem;
}

.ip {
  font-size: 50%;
}

#players {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 1rem;
}

.player {
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 1rem;

  font-size: 1.5rem;

  & img {
    width: 4rem;
  }
}

@media only screen and (max-width: 800px) {
  .ip {
    display: none;
    font-size: 8rem;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #1e1e1e;
    color: #fff;
  }
}

